/Binaries
/Content/__ExternalActors__
/Content/__ExternalObjects__
/Content/AnimalVarietyPack
/Content/BlackAlder
/Content/Landscape
/Content/Maps
/Content/Megascans
/Content/MSPresets
/Content/StarterContent
/Intermediate
/.vscode
/.idea
/DerivedDataCache
/Saved
